* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1.2rem sans-serif;
  background-color: rgb(90, 83, 83);
}

.hamburger {
  top: 15px;
  margin: 15px auto 0 auto;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    border-radius: 5px;
    height: 4px;
    background-color: #000;
    margin-top: 5px;
    transition: 0.7s all;
  }

  cursor: pointer;
}

.hamburger-active {
  span {
    &:first-child {
      transform: translateY(5px) rotate(45deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:last-child {
      transform: translateY(-5px) rotate(-45deg);
    }
  }

  cursor: pointer;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: fit-content;

  max-height: 0px;
  overflow: hidden;
  user-select: none;
  transition: max-height 0.3s ease-in;
  margin: 20px auto 0 auto;
  // .accordion__title

  &__title {
    // .accordion__title_text-info
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;

    &_wrapper {
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in;

      span {
        display: block;
        height: 2px;
        width: 12px;
        background-color: black;

        &:first-of-type {
          transform: translateX(4px) rotate(40deg);
        }

        &:last-child {
          transform: rotate(-40deg);
        }
      }
    }

    &_img {
      margin-right: 10px;
      width: 26px;
    }

    &_text {
      display: block;
      text-align: left;

      &-info {
        color: rgb(218, 32, 32);
        font-weight: 700;
        width: 160px;
        margin-right: 10px;
      }

      &-details {
        color: blue;
        font-weight: 700;
        width: 160px;
        margin-right: 10px;
      }

      &-stats {
        color: green;
        font-weight: 700;
        width: 160px;
        margin-right: 10px;
      }

      &-keywords {
        color: blueviolet;
        font-weight: 700;
        width: 160px;
        margin-right: 10px;
      }

      &-properties {
        color: orangered;
        font-weight: 700;
        width: 160px;
        margin-right: 10px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 45px;
      background: rgba(128, 124, 123, 0.3);
      transition: all 0.6s ease;
    }

    &:hover {
      &:before {
        width: 84%;
      }
    }
  }

  &__body {
    margin: 10px auto;
    max-height: 0px;
    width: 235px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }
}

.body-active {
  // margin: 4px auto;
  overflow: visible;
}

.accordion-active {
  height: auto;
  overflow: visible;
}

.title-active {
  transform: translate(4px) rotate(180deg);
}
